.section.compare {
  .container {
    .compare__items {
      display: flex;
      gap: 20px;
      overflow-x: auto;
      padding: 20px;

      @media only screen and (max-width: 850px) {
        width: 87vw;
      }

      .compare__item.product {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 0 0 260px;
        padding: 20px;

        .product__img {
          overflow: hidden;
          position: relative;
          padding: 0 0 100% 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 1s ease 0s;
            border-radius: 5px;
          }
        }

        .product__title {
          font-weight: bold;

          .from{
            font-weight: normal;
          }

          .manufacturer{
            color: var(--primary);
            font-weight: normal;
          }
        }

        .product__rating {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 5px;

          color: #e0c427;

          svg{
            width: 13px;
            height: 13px;
          }

          span {
            color: #6a6a6a;
            font-size: 13px;
          }
        }

        .product__quantity {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;

          .quantity__title {
            opacity: 0.5;
          }

          .quantity__content {
            font-size: 1.5rem;
            background-color: #f0f0f0;
            padding: 5px 20px;
            border-radius: 30px;
            display: inline-block;

            .quantity__number {
              margin: 0 10px;
              display: inline-block;
              width: 25px;
              text-align: center;
            }
          }
        }

        .product__text {
          max-height: 300px;
          overflow: auto;
        }

        .product__delete.delete {
          display: flex;
          justify-content: center;

          .delete__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            border: 3px solid silver;
            padding: 10px 30px;
            border-radius: 10px;
          }
        }

        &:nth-child(even) {
          box-shadow: 0 0 20px 0 #e2e2e2;
          border-radius: 10px;
        }
      }
    }
  }
}
