.club {
  display: flex;
  gap: 20px;

  padding: 3% 0;

  .club__content.user {
    display: flex;
    gap: 20px;

    flex: 1 0 400px;

    .user__content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      width: 100%;

      .column {
        display: flex;
        gap: 20px;

        .user__avatar {
          flex: 0 0 180px;

          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          position: relative;

          img {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
            border-radius: 5px;
          }
        }

        .user__info {
          flex: 1 1 auto;

          display: flex;
          flex-direction: column;
          gap: 30px;

          margin-bottom: 40px;

          .info__header {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .user__nicname {
              color: var(--dark-text);
              font-size: 2rem;
            }

            .user__settings {
              button {
                svg {
                  opacity: 0.5;
                }
              }
            }
          }

          .user__about {
            p:last-child {
              margin-bottom: 0;
            }
          }

          .user__interests {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            div {
              span {
                color: var(--dark-text);
              }
            }
          }

          .user__location {
            svg {
              fill: var(--dark-text);
            }
          }

          .user__followed {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .followed__item {
              cursor: pointer;

              span {
                font-weight: bold;
              }
            }

            .show-users {
              display: flex;
              flex-direction: column;
              gap: 20px;

              position: absolute;
              z-index: 1;

              background-color: var(--bg-color);
              box-shadow: 0 0 50px 0px #818181;
              padding: 20px;
              border-radius: 10px;
              width: 200px;
              max-height: 250px;
              overflow: auto;

              .followed-user {
                display: flex;
                align-items: center;
                gap: 10px;

                .followed-user__avatar {
                  position: relative;

                  width: 40px;
                  height: 40px;
                  overflow: hidden;

                  img {
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top;
                    width: 100% !important;
                    position: relative !important;
                  }
                }
              }
            }
          }
        }
      }

      .user__new-note {
        margin-bottom: 20px;

        form {
          .form__field {
            position: relative;

            border: 2px solid var(--light);
            border-radius: 10px;
            transition: all ease 0.5s;
            margin-bottom: 10px;

            &:hover {
              border: 2px solid var(--primary);
            }

            textarea {
              width: 100%;
              padding: 20px;
              resize: none;
            }

            .new-note__send {
              position: absolute;
              bottom: 5px;
              right: 5px;

              display: flex;
              align-items: center;
              justify-content: center;

              width: 40px;
              height: 40px;
              border-radius: 50%;
              padding: 0;

              transition: all ease 0.5s;

              &:hover {
                background-color: var(--primary);

                svg {
                  fill: white;
                }
              }
            }
          }
        }
      }

      .user__notes {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .user__note {
          display: flex;
          gap: 20px;

          position: relative;

          &:hover {
            .note__edit {
              display: block;

              position: absolute;
              right: 10px;
              top: 10px;

              .delete-note {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 25px;
                width: 25px;
                border-radius: 50%;

                transition: all ease 0.3s;

                svg {
                  opacity: 0.7;
                }

                &:hover {
                  background-color: var(--dark-red);

                  svg {
                    fill: white;
                    opacity: 1;
                  }
                }
              }
            }
          }

          .note__edit {
            display: none;

            transition: all ease 0.3s;
          }

          .user__avatar {
            flex: 0 0 50px;

            position: relative;

            width: 50px;
            height: 50px;

            border-radius: 50%;
            overflow: hidden;

            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top;
            }
          }

          .note__content {
            width: 100%;

            .note__name {
              color: var(--dark-text);
              margin-bottom: 10px;
            }

            .note__time {
              display: flex;
              justify-content: flex-end;
              opacity: 0.5;
              font-size: 0.9rem;
            }
          }
        }

        .note__more {
          position: absolute;
          bottom: 0;
          height: 400px;
          z-index: -1;
          width: 100%;
        }
      }
    }
  }
}

.user__notes.skeleton {
  .user__note {
    .user__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      background: var(--light);

      animation: fade 1s linear infinite alternate;
    }

    .note__content {
      .note__name {
        width: 100px;
        height: 25px;
        border-radius: 10px;

        background: var(--light);

        animation: fade 1s linear infinite alternate;
      }

      .note__text {
        width: 100%;
        height: 20px;
        border-radius: 10px;
        margin-bottom: 5px;

        background: var(--light);

        animation: fade 1s linear infinite alternate;
      }

      .note__time {
        opacity: 1;

        span {
          width: 150px;
          height: 25px;
          border-radius: 10px;

          background: var(--light);

          animation: fade 1s linear infinite alternate;
        }
      }
    }
  }
}

.img-container {
  flex: 0 0 180px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  position: relative;

  img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    border-radius: 5px;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
