.cloud {
  display: flex;
  margin-right: 40px;

  @media only screen and (max-width: 900px) {
    grid-column: 1 / span 4;
    justify-content: center;

    margin-right: 0px;
  }

  @media only screen and (max-width: 576px) {
    display: flex;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: var(--bg-color);
    box-shadow: 0 0 50px 50px var(--bg-color);
  }

  .container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 2rem;

    .store__search {
      .form {
        box-shadow: 0px 0px 40px 0px var(--search-shadow-color);
        padding: 5px 20px;
        border-radius: 5px;
        display: flex;
        position: relative;
        transition: all 0.5s ease 0s;
        border: 3px solid var(--bg-color);

        button {
          display: flex;
          align-items: center;

          svg {
            width: 30px;
            height: 30px;
          }
        }

        &:hover {
          box-shadow: 0px 0px 0px 3px var(--primary);
        }

        .error {
          position: absolute;
          top: 62px;
          left: 0;
          z-index: 1;
          background-color: #f8d7da;
          color: #932029;
          padding: 10px 20px;
          border-radius: 10px;
          font-size: 1rem;
        }
      }
    }

    .store__info.items {
      display: flex;
      align-items: center;
      gap: 20px;

      .item {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: var(--text-color);
        }

        svg {
          width: 30px;
          height: 30px;
          fill: var(--text-color);
          transition: all ease 0.3s;

          &:hover {
            transform: scale(1.2);
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 30px;
            height: 30px;
            fill: var(--text-color);
            transition: all ease 0.3s;

            &:hover {
              transform: scale(1.2);
            }
          }
        }

        .count {
          position: absolute;
          top: -20px;
          left: 20px;
          font-size: 1rem;
          background-color: var(--primary);
          color: white;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 2px;
          border-radius: 50%;
        }
      }

      .cart-block {
        position: relative;
      }

      .cart__items {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

        display: flex;
        flex-direction: column;
        gap: 20px;

        font-size: 1rem;
        background-color: var(--bg-color);
        width: 280px;
        padding: 20px;
        box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease 0s;
        opacity: 0;
        visibility: hidden;

        &.show {
          opacity: 1;
          visibility: visible;
        }

        .filter__header {
          display: flex;
          justify-content: space-between;

          .header__title {
            color: var(--dark-text);
            font-size: 1.5rem;
            font-weight: bold;
          }

          button {
            svg {
              height: 16px;
              width: 16px;

              fill: var(--dark-text);
            }
          }
        }

        .cart__body {
          display: flex;
          flex-direction: column;
          gap: 20px;

          padding: 0 20px 5px 5px;
          overflow: auto;

          .cart__item {
            display: flex;
            gap: 20px;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 10px;
            font-weight: bold;

            .product__img {
              width: 80px;

              img {
                border-radius: 10px;
                width: 100%;
              }
            }

            .product__info {
              width: 130px;

              a {
                color: var(--dark-text);
                border-bottom: 1px solid transparent;
                transition: all 0.5s ease 0s;

                &:hover {
                  border-bottom: 1px solid var(--dark-text);
                }
              }

              .product__cost {
                font-weight: 300;
              }

              .product__quantity {
                display: flex;
                justify-content: space-between;

                .quantity__number {
                  font-weight: 300;
                }

                .product__delete {
                  display: flex;
                  justify-content: flex-end;

                  .delete__btn {
                    font-size: 0.7rem;
                    border: 1px solid var(--dark-text);
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 2px;
                    border-radius: 50%;
                    transition: all 0.5s ease 0s;
                    opacity: 0.5;

                    svg {
                      fill: var(--dark-text);
                      height: 14px;
                    }

                    &:hover {
                      background-color: var(--dark-red);
                      border: 1px solid var(--dark-red);
                      color: var(--primary);
                      opacity: 1;

                      svg {
                        fill: white;
                        height: 14px;
                        transform: scale(1);
                      }
                    }
                  }
                }
              }
            }
          }

          .cart__totalprice {
            span {
              font-size: 2rem;
              font-weight: bold;
              color: var(--dark-text);
            }
          }
        }
      }
    }

    @media only screen and (max-width: 570px) {
      gap: 10px;
      padding: 10px 6px;

      .store__search {
        .form {
          padding: 5px 10px;

          input {
            font-size: 1.2rem;
            width: 100%;
          }
        }
      }

      .store__info.items {
        gap: 15px;
      }
    }
  }
}
